.FoodCard {
  border: solid 1px;
  background-color: #eeeeee;
  display: grid;
  justify-content: center;
  align-items: center;
}

.FoodCard h1 {
  margin-bottom: 0px;
  text-align: center;
}

.FoodCar__shortDescriptions {
  text-align: center;
}

.FoodCard img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.FoodCard__price {
  text-align: center;
}

.FoodCard__toppings {
  text-align: center;
}
