.GridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* ============= Media Queries (medium devices) ====== */

@media screen and (max-width: 1024px) {
  .GridLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/* ============= Media Queries (small devices) ====== */

@media screen and (max-width: 600px) {
  .GridLayout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
