.App {
  display: grid;
  /* horiz center */
  justify-content: center;
  /* vertical center */
  align-items: center;
  height: 100vh;
  background-color: #FFFFFF;
}

.App__title {
  text-align: center;
}
